@import "breakpoints";

:root {
    --background: #ffffff;
    --foreground: #171717;
    --poster-color-0: transparent;
    --poster-color-1: transparent;
    --poster-color-2: transparent;
    --poster-color-3: transparent;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

html,
body {
    max-width: 100vw;
    height: 100%;
}

html {
    overflow: hidden;
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

.main-container {
    background-image: linear-gradient(147deg, #f9fcff 0%, #dee4ea 74%);
    width: 100vw;
    overflow: hidden;
    @include xs {
    }
    @include lg {
        display: flex;
        height: 100vh;
    }
}

.title-input-section {
    background: transparent;
    height: 100vh !important;
    @include xs {
        min-width: 100% !important;
    }
    @include lg {
        min-width: 35% !important;
    }
}

.recommendation-section {
    position: relative;
    height: 97.5vh;
    margin-top: 1.25vh;
    //background: #f9fcff !important;
    overflow: hidden;
    display: flex;
    //outline: thin solid red;
    //justify-content: center;
    @include xs {
        flex-direction: column;
        width: 95%;
        margin-left: 2.5%;
    }
    @include lg {
        flex-direction: row;
        width: 63.75% !important;
        margin-left: 0.625%;
    }
}
.back-to-top {
    position: relative;
    z-index: 10;
}

.background-layer {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    z-index: 1;
    display: flex;
    overflow: hidden;
    border-radius: 10px;

    flex-direction: column;
    justify-content: flex-end; /* Center the triangles vertically */
    align-items: center; /* Center the triangles horizontally */
    @include xs {
        height: 95vh;
    }
    @include lg {
        height: 100%;
    }
}

.triangle {
    width: 0;
    height: 0;
    bottom: 0;
    position: absolute;
    border-style: solid;

    //margin: 10px 0; /* Add spacing between the triangles */
}

.small {
    border-width: 5vw 0 0 65vw; /* Adjust to point bottom-left */
    border-color: transparent transparent transparent var(--poster-color-0); /* Adjust color position */
}

.medium {
    border-width: 10vw 65vw 0 0; /* Points to bottom-right */
    border-color: transparent var(--poster-color-1) transparent transparent; /* Color bottom-right */
}

.large {
    border-width: 15vw 0 0 65vw; /* Adjust to point bottom-left */
    border-color: transparent transparent transparent var(--poster-color-2); /* Adjust color position */
}

.xlt {
    border-width: 20vw 65vw 0 0; /* Points to bottom-right */
    border-color: transparent var(--poster-color-3) transparent transparent; /* Color bottom-right */
}

.recommended-titles-container {
    position: relative;
    z-index: 2; /* Ensure this is above the background layer */
    box-sizing: border-box;

    display: flex;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0 0px 5px rgba(0, 0, 0, 0.5); /* Inset shadow */
    @include xs {
        height: 92.5vh;
        width: 95vw;
    }
    @include lg {
        height: 100%;
        width: 63.75vw !important;
    }
}
.recommended-titles {
    //background: pink;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 10px;
    gap: 2px;
    @include xs {
        width: 100%;
    }
    @include lg {
        width: 85%;
    }
}

.movie-card {
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-inline: auto;
    @include xs {
        width: 75%;
    }
    @include md {
        width: 65%;
    }
    @include lg {
        width: 50%;
    }
}
.recommended-details {
    position: relative;
    z-index: 10;
    background-color: green;
    width: 85%;
    margin-inline: 7.5%;
    height: 95vh;
    margin-block: 5%;
    overflow: auto;
    border-radius: 5px;
}

#style-2::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #00f;
}

.magicpattern {
    background: transparent;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='100%25' height='100%25'%3E%3Cdefs%3E%3Cpattern id='p' width='100' height='100' patternUnits='userSpaceOnUse' patternTransform='scale(0.13)'%3E%3Ccircle id='a' data-color='outline' fill='none' stroke='%239E9E9E' stroke-width='8' r='.5'%3E%3C/circle%3E%3Cuse xlink:href='%23a' y='100'%3E%3C/use%3E%3Cuse xlink:href='%23a' x='100'%3E%3C/use%3E%3Cuse xlink:href='%23a' x='100' y='100'%3E%3C/use%3E%3Cuse xlink:href='%23a' x='50' y='50'%3E%3C/use%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23p)' width='100%25' height='100%25'%3E%3C/rect%3E%3C/svg%3E");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
